{% extends 'base.html' %}

{% block title %}
    Courses
{% endblock title %}


{% block content %}

    <div class="list-group">
        {% for category in categories_list %}
            <h6>Category:</h6>
            <a href="#" class="list-group-item list-group-item-action">{{ category[0].name }}</a>
            <p>Quantity of courses: {{ category[0].count_children() }}</p>

            {% if category[1] %}
            <h6>Courses:</h6>
            {% for course in category[1] %}

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">{{ course.name }}</a>
            </div>
            {% endfor %}
            {% endif %}

        {% endfor %}
    </div>

{% endblock content %}